.article-in-feed-component {

  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #494949;
  padding-bottom: 20px;
}

.article-in-feed-component div {

  background-color: #B9A28D;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.article-in-feed-component img {
  height: 106px;
  width: 106px;
}

.article-in-feed-component p {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: left;
  margin: 9px 0 0;
  font-size: 21px;
  text-align: left;
  white-space: wrap;

}