.article-detail-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-detail-component img {
  height: 600px;
  width: 600px;
  object-fit: fill;
}

.article-detail-sidebar {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: fixed;
  width: 100vw;
  overflow: scroll;
  bottom: 0;
}

.article-detail-sidebar img {
  height: 75px;
  width: 75px;
}

@media (min-width: 768px) {

  .article-detail-component {
      flex-direction: row-reverse;
      padding: 0 50px;
  }

  .article-detail-sidebar {
      position: relative;
      flex-direction: column;
      row-gap: 32px;
      width: 400px;
      height: 100vh;
      overflow: scroll;
  }

  .article-detail-sidebar img {
      height: 106px;
      width: 106px;
  }
  
}